body {
    background-image: url('../pic/bg3.jpg');
}

.title {
    color: blue;
}

.wrap-content {
    background-image: url('../pic/bg_if.jpg');
    background-repeat: repeat-y;
    margin-left: 15%;
    margin-top: 15%;
    width: 670px;
    border: 2px solid blue;
}

.img-border {
    /*opacity: 0.5;
    filter: alpha(opacity=50);*/
    border: 2px solid #000;
    /*height: 10%;*/
}

.top-bar {
    background-color: #000;
}

.error {
    color: red;
}
